<section class="p-mt-3">
    <div class="p-d-flex p-align-center p-jc-between">
        <div class="p-d-flex p-flex-column flex-grow-1 p-jc-between">
            <h3 class="p-m-0">Occupancy Statistics</h3>
            <p class="p-m-0">
                Average occupancy of this building by day-hour frequency.
            </p>
        </div>
        <div>
            <small>
                <p-calendar
                    [showIcon]="true"
                    [(ngModel)]="selectedDateRange"
                    [maxDate]="currentDate"
                    icon="fas fa-clock"
                    inputId="range"
                    appendTo="body"
                    (click)="stopPropagation($event)"
                    (onShow)="onCalendarOpen($event)"
                    (onSelect)="onHistoricDateSelected($event)"
                    panelStyleClass="small"
                    hourFormat="12"
                    selectionMode="range" 
                ></p-calendar>
                <p-dropdown
                    [options]="dateRange"
                    [(ngModel)]="historicDataRange"
                    optionLabel="name"
                    appendTo="body"
                    optionValue="range"
                    (onChange)="onHistoricDateSelected($event)"
                ></p-dropdown>
            </small>
        </div>
    </div>
</section>
<hr />
<i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
<app-block-chart-view *ngIf="loading === false" id="occupancy-heatmap" [data]="chartData" [distributedColors]="true"></app-block-chart-view>