<section class="p-mt-3">
  <div class="p-d-flex p-align-center p-jc-between">
    <div class="p-d-flex p-flex-column flex-grow-1 p-jc-between">
      <h3 class="p-m-0">Occupancy Statistics</h3>
      <p class="p-m-0">
        Total occupancy of this building by day-time frequency.
      </p>
    </div>
    <div>
      <small>
        <p-dropdown
          [options]="dateRange"
          [(ngModel)]="historicDataRange"
          optionLabel="name"
          appendTo="body"
          optionValue="range"
          (onChange)="onHistoricDateSelected($event)"
        ></p-dropdown>
      </small>
    </div>
  </div>
</section>
<hr />
<app-block-chart-view
  id="occupancy-heatmap"
  [data]="series"
></app-block-chart-view>
