<div class="settings-menu p-p-5">
  <h2 class="p-m-0 p-p-0">Settings</h2>
  <hr class="p-mt-4 p-mb-4 p-mr-minus-5" />
  <a
    routerLink="/settings/personal"
    routerLinkActive="active"
    class="menu-link p-d-flex p-align-center"
  >
    <div class="icon p-mr-4">
      <i class="fas fa-fw fa-file-chart-line"></i>
    </div>
    <div class="link-details p-flex-column">
      <h3 class="p-m-0 p-p-0">Personal Details</h3>
      <p class="p-m-0 p-p-0">Personal Information, Notifications</p>
    </div>
    <div class="p-ml-2">
      <i class="fas fa-fw fa-chevron-right"></i>
    </div>
  </a>
</div>
