<ng-template #loading>
  <strong>Loading...</strong>
</ng-template>
<div *ngIf="user; else loading" [formGroup]="userForm">
  <div class="p-d-flex p-mt-2">
    <button
      pButton
      pRipple
      type="button"
      icon="far fa-chevron-left"
      class="p-button-rounded p-button-text color-light-grey p-mr-2 p-pl-0"
      routerLink="../"
    ></button>
    <h2 class="p-p-0 p-m-0">Edit User</h2>
  </div>
  <hr class="p-mt-4 p-mb-4" />
  <h3 class="p-m-0">Personal Information</h3>
  <p class="p-m-0 p-pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
  <div class="p-fluid p-formgrid p-grid p-mt-5">
    <div class="p-field p-col-12 p-md-6">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        formControlName="firstName"
        type="text"
        pInputText
       
      />
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['firstName'].valid &&
          userForm.controls['firstName'].dirty
        "
        [innerText]="
          userForm.controls['firstName'].errors?.required
            ? 'First Name is required'
            : ''
        "
      ></small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName" type="text" pInputText />
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['lastName'].valid &&
          userForm.controls['lastName'].dirty
        "
        [innerText]="
          userForm.controls['lastName'].errors?.required
            ? 'Last Name is required'
            : ''
        "
      ></small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" pInputText/>
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['email'].valid && userForm.controls['email'].dirty
        "
        [innerText]="
          userForm.controls['email'].errors?.required
            ? 'Email is required'
            : userForm.controls['email'].errors?.email
            ? 'Invalid email address'
            : ''
        "
      ></small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="phone">Phone Number</label>
      <p-inputMask
        formControlName="phone"
        type="tel"
        mask="(999) 999-9999"
        
      ></p-inputMask>
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['phone'].valid && userForm.controls['phone'].dirty
        "
        [innerText]="
          userForm.controls['phone'].errors?.required
            ? 'Phone is required'
            : userForm.controls['phone'].errors?.minLength
            ? 'Invalid phone number'
            : ''
        "
      ></small>
    </div>
    <div class="p-field p-col-12">
      <label for="department">Department</label>
      <p-dropdown
        [options]="departments"
        formControlName="departmentId"
        optionLabel="name"
        optionValue="id"
        placeholder="Select a department"
        dataKey="id"
       
      ></p-dropdown>
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['departmentId'].valid &&
          userForm.controls['departmentId'].dirty
        "
        [innerText]="
          userForm.controls['departmentId'].errors?.required
            ? 'A Department is required'
            : ''
        "
      ></small>
    </div>
  </div>
  <hr class="p-mt-4 p-mb-4" />
  <h3 class="p-m-0">Permissions</h3>
  <p class="p-m-0 p-pt-1">
    Set the permissions that you’d like this user to have.
  </p>
  <div class="p-fluid p-formgrid p-grid p-mt-5">
    <div class="p-field p-col-12">
      <label for="locations">Locations</label>
      <p-multiSelect
        [options]="locations"
        formControlName="locations"
        [showHeader]="false"
        defaultLabel="Select a Location"
        optionLabel="name"
        display="chip"
        optionValue="id"
        
      ></p-multiSelect>
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['locations'].valid &&
          userForm.controls['locations'].dirty
        "
        [innerText]="
          userForm.controls['locations'].errors?.required
            ? 'At least one Location is required'
            : ''
        "
      ></small>
    </div>
    <div class="p-field p-col-12">
      <label for="defaultLocation">Default Location</label>
      <p-dropdown
        [options]="locations"
        formControlName="defaultLocation"
        placeholder="Select a default Location"
        optionLabel="name"
        optionValue="id"
       
      ></p-dropdown>
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['defaultLocation'].valid &&
          userForm.controls['defaultLocation'].dirty
        "
        [innerText]="
          userForm.controls['defaultLocation'].errors?.required
            ? 'A default Location is required'
            : ''
        "
      ></small>
    </div>
    <div class="p-field p-col-12">
      <label for="roles">Role</label>
      <p-dropdown 
     
        [options]="roles"
        name="roleId"
        formControlName="roleId"
        optionLabel="name"
        optionValue="id"
        [autoDisplayFirst]="true"
        dataKey="id"
        placeholder="select Role"
        (onChange)="changeRole($event)"
        
      ></p-dropdown>
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['roleId'].valid &&
          userForm.controls['roleId'].dirty
        "
        [innerText]="
          userForm.controls['roleId'].errors?.required
            ? 'A Role is required'
            : ''
        "
      ></small>
      <!-- <p-multiSelect
        [options]="roles"
        formControlName="roles"
        [showHeader]="false"
        defaultLabel="Select a Role"
        optionLabel="name"
        display="chip"
        optionValue="id"
      ></p-multiSelect>
      <small
        class="p-error"
        *ngIf="
          !userForm.controls['roles'].valid && userForm.controls['roles'].dirty
        "
        [innerText]="
          userForm.controls['roles'].errors?.required
            ? 'At least one Role is required'
            : ''
        "
      ></small> -->
    </div>
  </div>
  <hr class="p-mt-4 p-mb-4" />
  <div class="p-mt-5 p-d-flex p-jc-between">
    <button
      pButton
      pRipple
      type="button"
      label="Discard Changes"
      class="p-button-rounded p-button-secondary"
      routerLink="../"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Save Changes"
      class="p-button-rounded"
      [disabled]="!userForm.valid"
      (click)="saveUser()"
    ></button>
    
  </div>
</div>
<!-- <pre
  >{{ userForm.value | json }}
</pre> -->
