<div *ngIf="alerts">
  <p-table
    class="report-table"
    [value]="alerts"
    [(selection)]="selectedAlerts"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['featureEventtime']"
    [responsive]="true"
    sortField="featureEventtime"
    [sortOrder]="-1"
    dataKey="id"
    (onRowSelect)="selectAlert($event)"
    (onRowUnselect)="deselectAlert($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="showCheckboxColumn" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 185px" pSortableColumn="featureEventtime">
          Date <p-sortIcon field="featureEventtime"></p-sortIcon>
        </th>
        <th style="width: 33%" pSortableColumn="alertMessage">
          Message <p-sortIcon field="alertMessage"></p-sortIcon>
        </th>
        <th pSortableColumn="alertSeverity">
          Severity <p-sortIcon field="alertSeverity"></p-sortIcon>
        </th>
        <th pSortableColumn="alertType">
          Type <p-sortIcon field="alertType"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="buildingId">
          Tag <p-sortIcon field="buildingId"></p-sortIcon>
        </th> -->
        <!-- <th *ngIf="!selectedBuilding" pSortableColumn="buildingId">
          Building <p-sortIcon field="buildingId"></p-sortIcon>
        </th> -->
      </tr>
      <tr>
        <th *ngIf="showCheckboxColumn" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <p-columnFilter type="date" field="featureEventtime"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="alertMessage"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            field="alertSeverity"
            matchMode="in"
            [showMenu]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="severities"
                placeholder="Any"
                optionLabel="label"
                optionValue="label"
                (onChange)="filter($event.value)"
                [showHeader]="false"
                appendTo="body"
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <p-tag
                      [value]="option.label"
                      [rounded]="true"
                      severity="info"
                      styleClass="severity-{{ option.label }}"
                    ></p-tag>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="alertType" matchMode="in" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="alertTypes"
                placeholder="Any"
                optionLabel="label"
                optionValue="label"
                (onChange)="filter($event.value)"
                [showHeader]="false"
                appendTo="body"
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    {{ option.label }}
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <!-- <th *ngIf="!selectedBuilding">
          <p-columnFilter field="buildingId" matchMode="in" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="buildingList"
                placeholder="Any"
                optionLabel="label"
                optionValue="value"
                (onChange)="filter($event.value)"
                [showHeader]="false"
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    {{ option.label }}
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="alerts">
      <tr style="height: 34px">
        <td>
          <div class="loading-text">Loading</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-alert>
      <tr>
        <td *ngIf="showCheckboxColumn">
          <p-tableCheckbox [value]="alert"></p-tableCheckbox>
        </td>
        <td>{{ alert.featureEventtime | date: "medium" }}</td>
        <td>
          {{ alert.alertMessage }}
        </td>
        <td class="{{ alert.alertSeverity | colorByAlertSeverity }}">
          <p-tag
            [value]="alert.alertSeverity"
            [rounded]="true"
            severity="info"
            styleClass="severity-{{ alert.alertSeverity }}"
          ></p-tag>
        </td>
        <td>
          {{ alert.alertType | underscoreToSpace }}
        </td>
        <!-- <td *ngIf="!selectedBuilding">{{ alert.buildingId }}</td> -->
      </tr>
    </ng-template>
  </p-table>
</div>
