// Breakpoints
$breakPoint-sm: 576px;
$breakPoint-md: 768px;
$breakPoint-lg: 992px;
$breakPoint-xl: 1200px;

// Inputs
$input-width: 480px;
$input-height: 36px;
$checkbox-size: 28px;
$checkbox-size-small: 18px;

$border-radius: 40px;
