// Breakpoints
$breakPoint-sm: 576px;
$breakPoint-md: 768px;
$breakPoint-lg: 992px;
$breakPoint-xl: 1200px;

// Inputs
$input-width: 480px;
$input-height: 36px;
$checkbox-size: 22px;
$checkbox-size-small: 22px;

$border-radius: 6px;

// Box shadow
$panel-box-shadow: 0 2px 5px 0px #000;

// Left Nav
$left-nav-width: var(--left-nav-width);
$left-nav-width-expanded: var(--left-nav-width-expanded);
$left-nav-active-border-width: 4px;
$left-nav-item-height: 44px;

// Alert details
$alert-details-panel-width: 400px;
