<app-alert-panel-view
  [height]="overviewPanelHeight$ | async"
  [alerts]="alerts$ | async"
  [selectedAlert]="selectedAlert$ | async"
  [selectedBuilding]="selectedBuilding$ | async"
  [sortType]="alertSortType$ | async"
  [sortDirection]="alertSortDirection$ | async"
  [showSevereUrgency]="showSevereUrgency"
  [showHighUrgency]="showHighUrgency"
  [showMediumUrgency]="showMediumUrgency"
  [showLowUrgency]="showLowUrgency"
  [showAcknowledged]="showAcknowledged"
  [showNetworkHealth]="showNetworkHealth"
  [showAPStatus]="showAPStatus"
  [showCapacity]="showCapacity"
  [knobValue]="knobValue"
></app-alert-panel-view>
