// Colors
$white: #fff;
$black: #000;
$light-grey: #a29aa9;
$grey: #766881;
$dark-grey: #29222e;
$error-color: #b00020;
$yellow: #faca00;
$green: #61ae00;

$brand-primary-color: var(--primary-color);
$brand-primary-color-dark: var(--primary-color);

$background-primary-color: #ebeef0;
$background-primary-color-dark: #1d1522;

$heading-primary-color: #303030;
$heading-primary-color-dark: #ffffff;

$text-primary-color: #303030;
$text-primary-color-dark: rgb(221, 221, 221);

$text-medium-color: #525252;
$text-medium-color-dark: $grey;

$text-input-background-color: #e2e2e2;
$text-input-background-color-dark: $dark-grey;

$text-input-border-color: #d3d3d3;
$text-input-border-color-dark: lighten($dark-grey, 10%);

$colors: (
  --brand-primary-color: (
    $brand-primary-color,
    $brand-primary-color-dark,
  ),
  --background-primary-color: (
    $background-primary-color,
    $background-primary-color-dark,
  ),
  --heading-primary-color: (
    $heading-primary-color,
    $heading-primary-color-dark,
  ),
  --text-primary-color: (
    $text-primary-color,
    $text-primary-color-dark,
  ),
  --text-medium-color: (
    $text-medium-color,
    $text-medium-color-dark,
  ),
  --text-input-background-color: (
    $text-input-background-color,
    $text-input-background-color-dark,
  ),
  --text-input-border-color: (
    $text-input-border-color,
    $text-input-border-color-dark,
  ),
);
