// Colors
$white: #fff;
$black: #09030d;
$light-grey: #a29aa9;
$grey: #73697b;
$dark-grey: #3a3241;
$darker-grey: #29202e;
$error-color: #b00020;
$yellow: #faca00;
$green: #61ae00;

$brand-primary-color: var(--primary-color);
$brand-primary-color-dark: var(--primary-color);

$background-color: #ebeef0;
$background-color-dark: $black;

$background-color-shade-1: #ebeef0;
$background-color-shade-1-dark: $darker-grey;

$background-color-shade-2: #ebeef0;
$background-color-shade-2-dark: $dark-grey;

$background-color-shade-3: #ebeef0;
$background-color-shade-3-dark: $grey;

$background-color-shade-4: #ebeef0;
$background-color-shade-4-dark: $light-grey;

// Typography
$text-color: #303030;
$text-color-dark: rgb(221, 221, 221);

$text-medium-color: #525252;
$text-medium-color-dark: $light-grey;

$text-medium-dark-color: #525252;
$text-medium-dark-color-dark: $grey;

$heading-color: #303030;
$heading-color-dark: #ffffff;

// Inputs
$text-input-background-color: #e2e2e2;
$text-input-background-color-dark: #29222e;

$text-input-border-color: #d3d3d3;
$text-input-border-color-dark: $dark-grey;

$colors: (
  --brand-primary-color: (
    $brand-primary-color,
    $brand-primary-color-dark,
  ),
  --background-color: (
    $background-color,
    $background-color-dark,
  ),
  --background-color-shade-1: (
    $background-color-shade-1,
    $background-color-shade-1-dark,
  ),
  --background-color-shade-2: (
    $background-color-shade-2,
    $background-color-shade-2-dark,
  ),
  --background-color-shade-3: (
    $background-color-shade-3,
    $background-color-shade-3-dark,
  ),
  --background-color-shade-4: (
    $background-color-shade-4,
    $background-color-shade-4-dark,
  ),
  --heading-color: (
    $heading-color,
    $heading-color-dark,
  ),
  --text-color: (
    $text-color,
    $text-color-dark,
  ),
  --text-medium-color: (
    $text-medium-color,
    $text-medium-color-dark,
  ),
  --text-medium-dark-color: (
    $text-medium-dark-color,
    $text-medium-dark-color-dark,
  ),
  --text-input-background-color: (
    $text-input-background-color,
    $text-input-background-color-dark,
  ),
  --text-input-border-color: (
    $text-input-border-color,
    $text-input-border-color-dark,
  ),
);
