// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
// Map box
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";
// Global themes
:root {
  // --border-radius: 2rem;
  --primary-text-color: rgb(218, 218, 218);
  --primary-color: #9f64d1;
  --primary-color-RGB: 159, 100, 209;
  --font-size: 14px;
  --body-font-family: "Roboto", "Helvetica Neue", sans-serif;
  --heading-font-family: "Roboto", "Helvetica Neue", sans-serif;
  --heading-font-weight: 700;
}

@import "colors";
@import "animations";
@import "theme";

// Import directories
@import "./abstracts/abstracts-dir";
@import "./base/base-dir";

// Import vendor styles
@import "./vendors/vendors-dir";

// Import pages/components
@import "./pages/pages-dir";
@import "./components/components-dir";

// Import print styles
// @import 'print';

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--font-size);
}
.alert-panel-container {
  flex-grow: 1;
  background: green;
}
p-virtualScroller,
::ng-deep .ui-virtualscroller,
::ng-deep .ui-virtualscroller-content,
::ng-deep .ui-virtualscroller-list,
::ng-deep cdk-virtual-scroll-viewport {
  display: flex;
  flex: 1;
  flex-direction: column;
}
