<div
  *ngIf="alert"
  class="p-d-flex alert-preview p-align-center p-mb-2"
  (click)="onClick()"
>
  <div class="p-flex-column p-mr-3">
    <i
      class="{{ alert.type | alertIconByType }} {{
        alert.severity | colorByAlertSeverity
      }}"
    ></i>
  </div>
  <div class="p-flex-column flex-grow-1">
    <span
      class="display-block line-height-1-5 font-size-90-percent {{
        alert.severity | colorByAlertSeverity
      }}"
      [ngClass]="{ 'color-white': alert.severity === 0 }"
      >{{ alert.id }} {{ alert.message }}</span
    >
    <small class="color-text-medium">{{
      alert.createdAt | date: "dd MMM h:mm a"
    }}</small>
  </div>
</div>
