<app-map-view
  #mapView
  [locations]="locations$ | async"
  [selectedLocation]="selectedLocation$ | async"
  [buildings]="buildings$ | async"
  [accessPoints]="accessPointsFiltered"
  [devices]="devicesFiltered"
  [deviceLoading]="deviceLoading$ | async"
  [selectedAccessPoint]="selectedAccessPoint$ | async"
  [selectedBuilding]="selectedBuilding$ | async"
  [showBuildingOverview]="showBuildingOverview$ | async"
  [showAccessPoints]="showAccessPoints$ | async"
  [showDevices]="showDevices$ | async"
  [showStaticDevices]="showStaticDevices$ | async"
  [showClusters]="showClusters$ | async"
  [selectedAlert]="selectedAlert$ | async"
  [regionPolygon]="regionPolygon"
  (clickedBuildingId)="clickedBuildingId($event)"
  (clickedAccessPoint)="clickedAccessPoint($event)"
  (flyToBuildingComplete)="flyToBuildingComplete()"
></app-map-view>
