<app-map-view
  #mapView
  [locations]="locations$ | async"
  [selectedLocation]="selectedLocation$ | async"
  [buildings]="buildings$ | async"
  [floors]="floors$ | async"
  [selectedFloor]="selectedFloor"
  [accessPoints]="accessPoints$ | async"
  [devices]="devicesFiltered"
  [selectedAccessPoint]="selectedAccessPoint$ | async"
  [selectedBuilding]="selectedBuilding$ | async"
  [showBuildingOverview]="showBuildingOverview$ | async"
  [showAccessPoints]="showAccessPoints$ | async"
  [showDevices]="showDevices$ | async"
  (clickedBuildingId)="clickedBuildingId($event)"
  (clickedAccessPoint)="clickedAccessPoint($event)"
  (flyToBuildingComplete)="flyToBuildingComplete()"
></app-map-view>
