<button
  pButton
  pRipple
  type="button"
  icon="far fa-plus"
  class="p-button-sm p-button-secondary with-outline has-shadow"
  (click)="onZoomIn()"
></button>
<br />
<button
  pButton
  pRipple
  type="button"
  icon="far fa-minus"
  class="p-mt-1 p-button-sm p-button-secondary with-outline has-shadow"
  (click)="onZoomOut()"
></button>
<br />
<button
  pButton
  pRipple
  type="button"
  icon="far fa-location"
  class="p-mt-1 p-button-sm p-button-secondary with-outline has-shadow"
  (click)="onCenter()"
></button>
<!-- <br />
<div id="drawing-tools" class="p-d-none p-d-sm-block">
  <button
    pButton
    pRipple
    type="button"
    icon="far fa-pencil"
    [class.active]="isDrawing"
    class="p-mt-1 p-button-sm p-button-secondary with-outline has-shadow"
    (click)="onToggleDraw()"
  ></button>
  <br />
  <button
    pButton
    pRipple
    type="button"
    icon="far fa-trash"
    class="p-mt-1 p-button-sm p-button-secondary with-outline has-shadow"
    (click)="onToggleDelete()"
  ></button>
  <br />
</div>
<button
  pButton
  pRipple
  type="button"
  icon="far fa-cog"
  class="
    p-d-block p-d-sm-none p-mt-1 p-button-sm p-button-secondary
    with-outline
    has-shadow
  "
  (click)="onToggleOverview()"
></button> -->
