.p-accordion {
  p-accordiontab {
    &:first-child {
      .p-accordion-tab {
        border-top: 1px solid var(--background-color-shade-2);
      }
    }
  }
  .p-accordion-tab {
    box-shadow: none;
    border-bottom: 1px solid var(--background-color-shade-2);

    &.p-accordion-tab-active {
      margin-bottom: 0;
    }
    .p-accordion-header-link,
    .p-accordion-header-link .icon {
      transition: color 0.5s;
    }
    .p-accordion-header {
      .icon {
        color: var(--background-color-shade-3);
      }
    }
    &.p-accordion-tab-active {
      .p-accordion-header {
        .icon {
          color: var(--primary-color);
        }
      }
    }
  }
  .p-accordion-header-text {
    font-size: 1rem;
  }
}
