.alert-details-container {
  &:not(.p-dialog-maximized) {
    max-width: $alert-details-panel-width;
  }
  .alert-details {
    z-index: 2;
    height: 100%;
    overflow-y: scroll;

    .p-message-custom {
      background-color: var(--background-color-shade-1);
      border-radius: $border-radius;
      border-left: 4px solid var(--background-color-shade-3);

      .p-message-icon {
        display: none;
      }
      .p-message-wrapper {
        padding: 0.85rem 1rem;
      }
      .p-message-detail {
        margin: 0;
      }
    }
  }
}
