.building-details-container {
  // opacity: 0;
  // position: fixed;
  // left: calc(var(--left-nav-width) + 10px);
  // // bottom: 65px;
  // top: 55px;
  .p-dialog-header .p-dialog-header-icon {
    width: inherit;
    margin-right: 1rem;
  }
  .p-dialog-header {
    padding-bottom: 0;
  }
  .p-tabview .p-tabview-nav li {
    margin-right: 1.5rem;
    .p-tabview-nav-link {
      padding: 1rem 0;
    }
  }
  .p-tabview-panels {
    padding: 1rem 0 0 0;
  }
}
