.building-overview-popup {
  top: 20px;

  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-content {
    padding: 0;
  }
  .p-panel .p-panel-content {
    border: none;
  }
  .p-panel .p-panel-header,
  .p-panel .p-panel-content {
    padding: 1rem;
  }
  .p-panel .p-panel-header {
    border: none;
    padding-bottom: 0;
    // border-bottom: 1px solid var(--background-color-shade-2);
  }
  .p-panel .p-panel-content {
    // padding-top: 0.5rem;
  }
}
.building-details-container {
  @media (min-width: $breakPoint-sm) {
    top: 45px;
    left: 65px;
  }
  &.p-dialog-maximized {
    max-width: 100%;
  }
}
.device-count-popup {
  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-content {
    padding: 4px 10px;
    color: white;
    font-weight: strong;
  }
}
