.building-overview-popup {
  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-tip {
    border-top-color: var(--background-color);
  }
  &.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  &.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
  &.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: var(--background-color);
  }
  &.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--background-color);
  }
  &.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--background-color);
  }
  .mapboxgl-popup-content {
    padding: 0;
    background: none;
  }
  .p-panel .p-panel-content,
  .p-panel .p-panel-header {
    background: var(--background-color);
  }
  .p-panel .p-panel-content {
    border: none;
  }
  .p-panel .p-panel-header {
    border: none;
    border-bottom: 1px solid var(--background-color-shade-2);
  }
}
