.left-nav {
  position: relative;
  float: left;
  left: 0;
  z-index: 3;
  nav {
    width: $left-nav-width;
    transition: width 0.5s;
    transition-timing-function: ease-in-out;
    background: var(--background-color);
    &.expanded {
      width: $left-nav-width-expanded;
      .menu-link span {
        opacity: 1;
      }
    }

    .menu-toggle {
      height: $left-nav-item-height;
      cursor: pointer;
      color: var(--background-color-shade-3);
      transition: color 0.5s;
      [class*="fa-"] {
        margin: 0 0 0 18px;
        position: relative;
        font-size: 1rem;
        line-height: 1;
        padding: 0.1rem 0.25rem;
        border-color: var(--background-color-shade-3);
      }
      .fa-border {
        font-size: 13px;
      }
      &:hover {
        color: var(--text-color);
      }
    }

    .menu-link {
      height: $left-nav-item-height;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 0 0 20px;
      text-decoration: none;
      color: var(--primary-color);
      transition: background-color 0.5s, border-color 0.5s;
      border-color: transparent;
      &.active,
      &:hover {
        border-left: $left-nav-active-border-width solid var(--primary-color);
        background-color: var(--background-color-shade-1);
        img,
        [class*="fa-"] {
          left: -$left-nav-active-border-width;
        }
        span {
          margin-left: 12px;
          color: var(--text-color);
        }
      }
      .icon {
        width: 16px;
        height: 16px;
      }
      span {
        transition: opacity 0.5s, color 0.5s;
        opacity: 0;
        margin: 0 0 0 1rem;
        color: var(--text-medium-dark-color);
        @include font-weight(medium);
      }
      img,
      [class*="fa-"] {
        position: relative;
        width: 16px;
        height: 16px;
        font-size: 1rem;
      }
    }

    .logo img {
      max-height: 76px;
      width: 100%;
      padding: 0.5rem 1rem 1rem 1rem;
    }
  }
}
