.overview-panel {
  position: fixed;
  right: 0;
  height: 100vh;
  width: $overview-panel-width;
  padding: 14px 9px 18px;
  transition: width 0.5s;
  transition-timing-function: ease-in-out;
  background: var(--background-color);
  z-index: 2;

  @media screen and (max-width: $breakPoint-sm) {
    width: 0;
    padding: 0;
  }
  &.expanded {
    padding: 14px 18px 0;
    width: $overview-panel-width-expanded;
    .menu-link span {
      opacity: 1;
    }
    @media screen and (max-width: $breakPoint-sm) {
      padding-bottom: $left-nav-item-height-mobile;
      width: 100%;
    }
  }

  .map-controls {
    position: absolute;
    left: -40px;
    top: 8px;
  }
  .playback-live-indicator {
    display: inline-block;
    background: #ee4057;
    border-radius: 5px;
    padding: 3px 6px;
    color: white;
    line-height: 1;
  }

  .p-button.p-button-icon-only.btn-playback {
    padding: 0.5rem 0.75rem;
    width: inherit;
    height: inherit;
    border: none;
    color: white;

    &.is-active {
      color: inherit;
    }

    .p-button-icon {
      font-size: 1.5rem;
      top: 2px;
    }
  }

  .p-button.p-button-sm.p-button-outlined.btn-skip-time {
    padding: 0;
    border: none;
    position: relative;
    height: 32px;
    width: 32px;
    flex-shrink: 0;
    background: none;
    .p-button-icon {
      font-size: 32px;
      position: absolute;
    }
    .p-button-label {
      position: relative;
      top: 2px;
      left: -1px;
      letter-spacing: -1px;
    }
  }

  .dd-playback-speed {
    text-align: center;
    width: 44px;
  }

  .floor-controls {
    position: absolute;
    left: -40px;
    bottom: 0;
  }
  .p-accordion-toggle-icon {
    display: none;
  }
  .menu-toggle {
    cursor: pointer;
    color: var(--background-color-shade-3);
    transition: color 0.5s;
    [class*="fa-"] {
      position: relative;
      font-size: 13px;
      line-height: 1;
      padding: 0.1rem 0.25rem;
      border-color: var(--background-color-shade-3);
    }
    &:hover {
      color: var(--text-color);
    }
  }

  .menu-link {
    height: $overview-panel-item-height;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    text-decoration: none;
    color: var(--primary-color);
    transition: background-color 0.5s, border-color 0.5s;
    border-color: transparent;
    &.active,
    &:hover {
      border-left: $overview-panel-active-border-width solid
        var(--primary-color);
      background-color: var(--background-color-shade-1);
      img,
      [class*="fa-"] {
        left: -$overview-panel-active-border-width;
      }
      span {
        margin-left: 12px;
        color: var(--text-color);
      }
    }
    .icon {
      width: 16px;
      height: 16px;
    }
    span {
      transition: opacity 0.5s, color 0.5s;
      opacity: 0;
      margin: 0 0 0 1rem;
      color: var(--text-medium-dark-color);
      @include font-weight(medium);
    }
    img,
    [class*="fa-"] {
      position: relative;
      width: 16px;
      height: 16px;
      font-size: 1rem;
    }
  }

  .logo img {
    max-height: 76px;
    width: 100%;
    padding: 1rem;
  }
}
