.p-panel {
  .p-panel-header {
    border-radius: $border-radius $border-radius 0 0;
    .p-panel-title {
      font-size: 1rem;
    }
  }
  .p-panel-content {
    border-radius: 0 0 $border-radius $border-radius;
  }
}
.p-scrollpanel {
  .p-scrollpanel-bar-y {
    width: 6px;
  }
  .p-scrollpanel-content {
    padding-right: 2rem;
  }
  .p-scrollpanel-bar {
    background-color: var(--background-color-shade-4);
    opacity: 1;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--primary-color);
    }
  }
}
