.p-tag {
  padding: 0.25rem 1rem;
  &.severity-White {
    background-color: var(--background-color-shade-4);
  }
  &.severity-Orange {
    background-color: $orange;
  }
  &.severity-Yellow {
    background-color: $yellow;
  }
  &.severity-Red {
    background-color: $red;
  }
  &.p-tag-info {
    color: var(--text-input-background-color);
  }
}
