.p-toast .p-toast-message .p-toast-message-content{
    padding: 1rem !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 1rem 0 1rem !important;
}
.p-toast .p-toast-message .p-toast-icon-close{
    margin-top: -15px;
    margin-right: -10px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon{
    align-self: center !important;
}
.p-toast-icon-close-icon.pi{
    font-size: 0.7rem !important;
}