<div
  class="
    p-d-flex p-flex-column p-flex-sm-row p-jc-between p-ai-start p-ai-sm-center
  "
>
  <h2 class="p-p-0 p-mt-0 p-mb-2 p-mb-sm-0">User List</h2>
  <div class="flex-grow-1 p-ml-0 p-ml-sm-5 width-100-sm">
    <div class="p-fluid">
      <app-user-search-input></app-user-search-input>
    </div>
  </div>
  <!-- <div>
    <button
      pButton
      pRipple
      type="button"
      label="Add User"
      class="p-button-rounded"
    ></button>
  </div> -->
</div>
<div class="user-table p-mt-4">
  <app-users-table></app-users-table>
</div>
