.icoAccessPoint {
  max-width: 12px;
  margin-left: 2px;
  margin-right: 12px;
}
.icoDevice,
.icoIOT {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100px;
  margin-left: 6px;
  margin-right: 16px;
  position: relative;
  top: -2px;
  background: #c702fb;
  box-shadow: 0 0 6px 5px #c702fb63;
}
.icoCluster {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  margin-left: 2px;
  margin-right: 12px;
  position: relative;
  top: 1px;
  background: #c702fb;
}
.icoIOT {
  background: #00c1ff;
  box-shadow: 0 0 6px 5px #02b9fb63;
}
.p-multiselect .p-multiselect-panel{
  .p-multiselect-header{
      padding: 0 1rem !important;
  }
} 

.p-multiselect-close{
    height: 16px;
}