<p-panel header="Headings" styleClass="p-mb-4"
  ><h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
</p-panel>
<p-card header="Paragraphs" styleClass="p-mb-4">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel
    rhoncus massa. <strong>Pellentesque habitant morbi</strong> tristique
    senectus et netus et malesuada fames ac turpis egestas. Curabitur diam ante,
    blandit a orci non, pretium maximus arcu.
    <a href="#">Maecenas volutpat justo</a> sed consectetur pulvinar. Nam ut
    tortor eros. Donec volutpat eros eget felis porta commodo. Cras porttitor
    lorem est, nec accumsan justo eleifend vitae.
  </p>
  <p>
    <small>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel
      rhoncus massa. <strong>Pellentesque habitant morbi</strong> tristique
      senectus et netus et malesuada fames ac turpis egestas. Curabitur diam
      ante, blandit a orci non, pretium maximus arcu.
      <a href="#">Maecenas volutpat justo</a> sed consectetur pulvinar. Nam ut
      tortor eros. Donec volutpat eros eget felis porta commodo. Cras porttitor
      lorem est, nec accumsan justo eleifend vitae.
    </small>
  </p>
</p-card>
<p-card header="Inputs" styleClass="p-mb-4">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="firstname1">First Name</label>
      <input id="firstname1" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="search">Icon</label>
      <span class="p-input-icon-left">
        <i class="far fa-search"></i>
        <input id="search" type="text" pInputText placeholder="Search" />
      </span>
    </div>
    <div class="p-field p-col">
      <label for="firstname1">Small</label>
      <input id="firstname1" class="p-inputtext-sm" type="text" pInputText />
    </div>
  </div>
</p-card>
<p-card header="Buttons" styleClass="p-mb-4">
  <button
    pButton
    pRipple
    type="button"
    label="View Alert Playback"
    icon="fas fa-play-circle"
    class="p-button-rounded p-button-sm"
  ></button>
  &nbsp;
  <button
    pButton
    pRipple
    type="button"
    label="View Alert Playback"
    icon="fas fa-play-circle"
    class="p-button-rounded"
  ></button>
  &nbsp;
  <button
    pButton
    pRipple
    type="button"
    icon="fas fa-times"
    class="p-button-rounded p-button-outlined"
  ></button>
  &nbsp;
  <small>
    <button
      pButton
      pRipple
      type="button"
      icon="far fa-times"
      class="p-button-rounded p-button-outlined color-light-grey"
    ></button>
  </small>
  &nbsp;
  <button
    pButton
    pRipple
    icon="fas fa-times"
    class="p-button-outlined"
  ></button>
  &nbsp;
  <small>
    <button
      pButton
      pRipple
      icon="fas fa-download"
      class="p-button-outlined color-light-grey"
    ></button
  ></small>
</p-card>
<p-card header="Checkboxes" styleClass="p-mb-4">
  <p-checkbox
    name="groupname"
    [(ngModel)]="checked"
    [binary]="true"
    checkboxIcon="fas fa-check"
    label="Checked checkbox"
  ></p-checkbox>
  <br /><br />
  <p-checkbox
    name="groupname"
    label="Unchecked checkbox"
    checkboxIcon="fas fa-check"
  ></p-checkbox>
  <br /><br />
  <small>
    <p-checkbox
      name="groupname"
      [(ngModel)]="checked"
      [binary]="true"
      label="Small checkbox"
      checkboxIcon="fas fa-check"
    ></p-checkbox
  ></small>
</p-card>
<p-card header="Dropdowns" styleClass="p-mb-4">
  <p-dropdown
    [options]="cities"
    optionLabel="name"
    dropdownIcon="fas fa-chevron-down"
  ></p-dropdown>
</p-card>
<p-card header="Toggles" styleClass="p-mb-4">
  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
</p-card>
<p-panel header="Cards" styleClass="p-mb-4">
  <div class="p-grid">
    <div class="p-col">
      <p-card> Contenta sfdsa fas fsdf as fsa </p-card>
    </div>
    <div class="p-col">
      <p-card header="Title"> Content </p-card>
    </div>
  </div>
</p-panel>
<p-panel header="Panel" styleClass="p-mb-4"> Content </p-panel>
<p-panel header="Accordion" styleClass="p-mb-4">
  <p-accordion>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="font-size-1-rem">
          <i class="icon fas fa-play-circle p-mr-2"></i> Playback
        </div>
      </ng-template>
      <ng-template pTemplate="content"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut
        diam. Ultricies mi quis hendrerit dolor magna eget est lorem. Amet
        consectetur adipiscing elit ut. Nam libero justo laoreet sit amet.
        Pharetra massa massa ultricies mi quis hendrerit dolor magna. Est
        ultricies integer quis auctor elit sed vulputate. Consequat ac felis
        donec et.</ng-template
      >
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="font-size-1-rem">
          <i class="icon fas fa-eye p-mr-2"></i> Map View
        </div>
      </ng-template>
      <ng-template pTemplate="content"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut
        diam. Ultricies mi quis hendrerit dolor magna eget est lorem. Amet
        consectetur adipiscing elit ut. Nam libero justo laoreet sit amet.
        Pharetra massa massa ultricies mi quis hendrerit dolor magna. Est
        ultricies integer quis auctor elit sed vulputate. Consequat ac felis
        donec et.</ng-template
      >
    </p-accordionTab>
  </p-accordion>
</p-panel>
<p-panel header="Scroll Panel">
  <p-scrollPanel
    [style]="{ 'max-width': '400px', width: '100%', height: '300px' }"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut
      diam. Ultricies mi quis hendrerit dolor magna eget est lorem. Amet
      consectetur adipiscing elit ut. Nam libero justo laoreet sit amet.
      Pharetra massa massa ultricies mi quis hendrerit dolor magna. Est
      ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec
      et. Tellus orci ac auctor augue mauris. Semper feugiat nibh sed pulvinar
      proin gravida hendrerit lectus a. Tincidunt arcu non sodales neque
      sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam
      ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit amet dictum sit
      amet. Tristique senectus et netus et malesuada fames ac turpis egestas. Et
      tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies
      mi eget mauris. Eget egestas purus viverra accumsan in nisl nisi. Suscipit
      adipiscing bibendum est ultricies integer. Mattis aliquam faucibus purus
      in massa tempor nec. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Vitae et leo duis ut diam. Ultricies mi quis hendrerit dolor magna eget
      est lorem. Amet consectetur adipiscing elit ut. Nam libero justo laoreet
      sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
      Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis
      donec et. Tellus orci ac auctor augue mauris. Semper feugiat nibh sed
      pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non sodales
      neque sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin
      aliquam ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit amet
      dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis
      egestas. Et tortor consequat id porta nibh venenatis cras sed. Diam
      maecenas ultricies mi eget mauris. Eget egestas purus viverra accumsan in
      nisl nisi. Suscipit adipiscing bibendum est ultricies integer. Mattis
      aliquam faucibus purus in massa tempor nec. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Vitae et leo duis ut diam. Ultricies mi quis
      hendrerit dolor magna eget est lorem. Amet consectetur adipiscing elit ut.
      Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis
      hendrerit dolor magna. Est ultricies integer quis auctor elit sed
      vulputate. Consequat ac felis donec et. Tellus orci ac auctor augue
      mauris. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a.
      Tincidunt arcu non sodales neque sodales. Metus aliquam eleifend mi in
      nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit amet
      nisl purus. Cursus sit amet dictum sit amet. Tristique senectus et netus
      et malesuada fames ac turpis egestas. Et tortor consequat id porta nibh
      venenatis cras sed. Diam maecenas ultricies mi eget mauris. Eget egestas
      purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est
      ultricies integer. Mattis aliquam faucibus purus in massa tempor nec.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut
      diam. Ultricies mi quis hendrerit dolor magna eget est lorem. Amet
      consectetur adipiscing elit ut. Nam libero justo laoreet sit amet.
      Pharetra massa massa ultricies mi quis hendrerit dolor magna. Est
      ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec
      et. Tellus orci ac auctor augue mauris. Semper feugiat nibh sed pulvinar
      proin gravida hendrerit lectus a. Tincidunt arcu non sodales neque
      sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam
      ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit amet dictum sit
      amet. Tristique senectus et netus et malesuada fames ac turpis egestas. Et
      tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies
      mi eget mauris. Eget egestas purus viverra accumsan in nisl nisi. Suscipit
      adipiscing bibendum est ultricies integer. Mattis aliquam faucibus purus
      in massa tempor nec. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Vitae et leo duis ut diam. Ultricies mi quis hendrerit dolor magna eget
      est lorem. Amet consectetur adipiscing elit ut. Nam libero justo laoreet
      sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
      Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis
      donec et. Tellus orci ac auctor augue mauris. Semper feugiat nibh sed
      pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non sodales
      neque sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin
      aliquam ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit amet
      dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis
      egestas. Et tortor consequat id porta nibh venenatis cras sed. Diam
      maecenas ultricies mi eget mauris. Eget egestas purus viverra accumsan in
      nisl nisi. Suscipit adipiscing bibendum est ultricies integer. Mattis
      aliquam faucibus purus in massa tempor nec.
    </p>
  </p-scrollPanel></p-panel
>
<section>
  <h3>Graphs</h3>
  <div class="p-grid">
    <div class="p-col">
      <p-panel header="Building Occupancy">
        <p>
          Average building capacity over the past 4 weeks, between 10 PM and 8
          AM
        </p>
        <p-chart
          type="line"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
      </p-panel>
    </div>
    <div class="p-col">
      <p-panel header="Building Occupancy">
        <p>
          Average building capacity over the past 4 weeks, between 10 PM and 8
          AM
        </p>
        <p-chart
          type="bar"
          [data]="stackedData"
          [options]="stackedOptions"
        ></p-chart>
      </p-panel>
    </div>
  </div>
</section>
