<p-dialog
  *ngIf="building"
  [header]="building ? building.buildingName : 'Building'"
  [(visible)]="showDetails"
  [maximizable]="true"
  [dismissableMask]="true"
  [closable]="true"
  styleClass="building-details-container"
  position="top-left"
  (onHide)="onHide()"
  (onMaximize)="onMaximize($event)"
>
  <p-tabView *ngIf="showDetails" (onChange)="onTabChange($event)">
    <p-tabPanel header="Overview">
      <app-building-details-overview
        [building]="building"
        [region]="region"
        [maximized]="maximized"
      ></app-building-details-overview>
    </p-tabPanel>
    <p-tabPanel header="Occupancy">
      <app-building-details-occupancy
        [building]="building"
        [region]="region"
        [maximized]="maximized"
        [tabChange]="tabChange$ | async"
      ></app-building-details-occupancy>
    </p-tabPanel>
    <p-tabPanel header="Alert History">
      <app-building-details-alerts
        [building]="building"
      ></app-building-details-alerts>
    </p-tabPanel>
    <p-tabPanel header="Access Points">
      <app-building-details-access-points></app-building-details-access-points>
    </p-tabPanel>
  </p-tabView>
  <!-- <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModal = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
</p-dialog>
