.p-field > label {
  display: block;
  @include font-weight(medium);
}

.p-inputtext,
.p-dropdown {
  @include font-weight(regular);
  border-radius: 6px;
}

// .p-radiobutton-label,
// .p-float-label label {
//   color: var(--background-secondary-color);
// }
// .p-float-label input:focus ~ label,
// .p-float-label input.p-filled ~ label,
// .p-float-label textarea:focus ~ label,
// .p-float-label textarea.p-filled ~ label,
// .p-float-label .p-inputwrapper-focus ~ label,
// .p-float-label .p-inputwrapper-filled ~ label {
//   top: 9px !important;
//   font-size: 11px;
//   background-color: transparent;
//   color: $grey;
// }
.p-inputtext {
  // padding: 0.5rem 1rem;
  &.p-inputtext-sm {
    padding: 0.469rem 0.875rem;
    font-size: small;
  }
}
.p-autocomplete.p-inputtext-sm {
  padding: 0;
  .p-autocomplete-input {
    // padding: 0.469rem 0.875rem;
  }
}

.p-input-icon-left > .p-inputtext,
.p-input-icon-left .p-inputtext,
.p-input-icon-left .p-inputmask,
.p-input-icon-left .p-autocomplete-input,
.p-input-icon-left .p-autocomplete.p-inputtext-sm .p-autocomplete-input {
  padding-left: 44px;
}
.p-input-icon-left {
  label,
  .p-inputwrapper-focus ~ label,
  .p-inputwrapper-filled ~ label,
  input.p-filled ~ label,
  input:focus ~ label {
    margin-left: 32px;
  }
}
.p-input-icon-left > i,
.p-input-icon-left > i:first-of-type,
.p-input-icon-right > i,
.p-input-icon-right > i:last-of-type {
  font-size: 1rem;
  z-index: 1;
  color: var(--text-medium-color);
}
// .p-invalid {
//   display: block;
// }

.p-valid.p-input-icon-right {
  > i:last-of-type {
    color: var(--primary-color);
  }
}

.p-valid.p-input-icon-left {
  > i:first-of-type {
    color: $dark-grey;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $grey;
  font-weight: normal;
  font-size: var(--font-size);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $grey;
  font-weight: normal;
  font-size: var(--font-size);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $grey;
  font-weight: normal;
  font-size: var(--font-size);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $grey;
  font-weight: normal;
  font-size: var(--font-size);
}
