.p-button {
  &.p-button-sm {
    font-size: 80%;
    &.p-button-outlined {
      padding: 0.3rem 0.5rem;
    }
  }
  small &.p-button-icon-only {
    height: 1rem;
    width: 1rem;
    padding: 0.62475rem;
  }
  span.p-button-icon {
    position: relative;
    top: 1px;
  }
}
.p-button-label {
  @include font-weight(medium);
}
