.p-dropdown .p-dropdown-trigger {
  // font-size: 1rem;
  z-index: 1;
  .p-dropdown-trigger-icon {
    position: relative;
    top: 2px;
  }
}
small .p-dropdown {
  .p-inputtext {
    padding: 0.35rem 0.25rem 0.35rem 0.75rem;
    font-size: small;
  }
  .p-dropdown-trigger {
    width: 2rem;
  }
}
