<div *ngIf="floor" [formGroup]="floorForm">
  <h3 class="p-m-0">Access Point Details</h3>
  <p class="p-m-0 p-pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
  <div class="p-fluid p-formgrid p-grid p-mt-5">
    <div class="p-field p-col-12">
      <label for="floorId">Floor Number</label>
      <input id="floorId" formControlName="floorId" type="text" pInputText />
      <small
        class="p-error"
        *ngIf="
          !floorForm.controls['floorId'].valid &&
          floorForm.controls['floorId'].dirty
        "
        [innerText]="
          floorForm.controls['floorId'].errors?.required
            ? 'Floor Number is required'
            : ''
        "
      ></small>
    </div>
    <div class="p-field p-col-12">
      <label for="floorMaxOccupancy">Max Occupancy</label>
      <input
        id="floorMaxOccupancy"
        formControlName="floorMaxOccupancy"
        type="text"
        pInputText
      />
      <small
        class="p-error"
        *ngIf="
          !floorForm.controls['floorMaxOccupancy'].valid &&
          floorForm.controls['floorMaxOccupancy'].dirty
        "
        [innerText]="
          floorForm.controls['floorMaxOccupancy'].errors?.required
            ? 'Max Occupancy is required'
            : ''
        "
      ></small>
    </div>
  </div>
  <hr class="p-mt-4 p-mb-4" />
  <div class="p-mt-5 p-d-flex p-jc-between">
    <button
      pButton
      pRipple
      type="button"
      label="Discard Changes"
      class="p-button-rounded p-button-secondary"
      (click)="onCancel()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Save Changes"
      class="p-button-rounded"
      [icon]="loading === true ? 'fas fa-spinner fa-spin' : ''"
      [disabled]="!floorForm.valid || loading === true"
      (click)="onSave()"
    ></button>
  </div>
</div>
