<button
  pButton
  pRipple
  type="button"
  icon="far fa-plus"
  class="p-button-sm p-button-secondary with-outline has-shadow"
  (click)="onZoomIn()"
></button>
<br />
<button
  pButton
  pRipple
  type="button"
  icon="far fa-minus"
  class="p-mt-1 p-button-sm p-button-secondary with-outline has-shadow"
  (click)="onZoomOut()"
></button>
<br />
<button
  pButton
  pRipple
  type="button"
  icon="far fa-cog"
  class="
    p-d-block p-d-sm-none p-mt-1 p-button-sm p-button-secondary
    with-outline
    has-shadow
  "
  (click)="onToggleOverview()"
></button>
