<div class="analytics-panel" [class.expanded]="isExpanded === true">
  <div
    class="p-d-flex p-ai-center"
    [class.p-jc-end]="!isExpanded"
    [class.p-jc-between]="isExpanded"
    *ngIf="!loading"
  >
    <div class="p-flex-column flex-grow-1">
      <h3 class="p-m-0 p-d-inline-block">
        {{ selectedLocation?.name }}
      </h3>
      <h4 class="p-d-inline-block p-mb-0 p-mt-0 p-ml-3 color-text-medium">
        {{ displayedMapDateTime | date }}
      </h4>
    </div>
    <div>
      <a class="menu-toggle p-d-flex p-align-center" (click)="toggleSize()">
        <i
          class="fas fa-border"
          [class.fa-arrow-to-top]="isExpanded === false"
          [class.fa-arrow-to-bottom]="isExpanded === true"
        ></i>
      </a>
    </div>
  </div>
  <div *ngIf="isExpanded">
    <div
      *ngIf="loading"
      style="height: 120px"
      class="p-d-flex p-ai-center p-jc-center font-size-150-percent"
    >
      <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="loading === false" id="chart">
      <apx-chart
        *ngIf="chartData && chartOptions"
        [series]="chartOptions?.series!"
        [chart]="chartOptions?.chart!"
        [xaxis]="chartOptions?.xaxis!"
        [stroke]="chartOptions?.stroke!"
        [dataLabels]="chartOptions?.dataLabels!"
        [yaxis]="chartOptions?.yaxis!"
        [title]="chartOptions?.title!"
        [labels]="chartOptions?.labels!"
        [legend]="chartOptions?.legend!"
        [subtitle]="chartOptions?.subtitle!"
        [grid]="chartOptions?.grid!"
        [fill]="chartOptions?.fill!"
        [annotations]="chartOptions?.annotations!"
        [theme]="chartOptions?.theme!"
        [tooltip]="chartOptions?.tooltip!"
      ></apx-chart>
    </div>
  </div>
</div>
