<mgl-map
  [style]="'mapbox://styles/mikeairia/ckothwa8k17hn18lngdslao64'"
  [zoom]="[17]"
  [pitch]="[0]"
  [bearing]="[0]"
  [center]="[-85.2974959, 35.0458509]"
  (mapClick)="mapClick($event)"
  (mapMouseMove)="mapMouseMove($event)"
  (mapLoad)="mapLoad($event)"
>
  <mgl-control
    mglNavigation
    [showCompass]="false"
    position="top-right"
  ></mgl-control>
  <mgl-control
    mglGeolocate
    position="top-left"
    [showUserLocation]="true"
  ></mgl-control>
  <mgl-popup
    *ngIf="selectedBuilding && showBuildingOverview"
    [lngLat]="[selectedBuilding.coordLongitude, selectedBuilding.coordLatitude]"
    [closeOnClick]="false"
    maxWidth="400px"
    [offset]="[0, -30]"
    className="building-overview-popup"
  >
    <app-building-overview></app-building-overview>
  </mgl-popup>
</mgl-map>
