@import "./../../../../styles/abstracts/variables";
mgl-map {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}
.map-controls {
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 10px;
}

.floor-controls {
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: $left-nav-item-height-mobile + 10px;
}
