<div class="p-d-flex p-flex-column p-flex-md-row p-jc-between">
  <div [id]="id" class="width-100">
    <apx-chart
      [grid]="chartOptions?.grid!"
      [series]="chartOptions?.series!"
      [chart]="chartOptions?.chart!"
      [dataLabels]="chartOptions?.dataLabels!"
      [xaxis]="chartOptions?.xaxis!"
      [yaxis]="chartOptions?.yaxis!"
      [theme]="chartOptions?.theme!"
      [stroke]="chartOptions?.stroke!"
      [colors]="chartOptions?.colors!"
      [tooltip]="chartOptions?.tooltip!"
      [legend]="chartOptions?.legend!"
      [plotOptions]="chartOptions?.plotOptions!"
    ></apx-chart>
  </div>
</div>
<hr class="p-mb-3" style="position: relative; margin-top: -24px" />
<div class="p-d-flex p-jc-between width-100">
  <div
    *ngFor="let item of legendItems; let i = index"
    class="block-legend-item"
    style="opacity: {{ 0.1 + i / legendItems.length }}"
  ></div>
</div>
<div class="p-d-flex p-jc-between p-mt-2 color-text-medium">
  <small>Lowest Occupancy</small>
  <small>Highest Occupancy</small>
</div>
