// Display
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.display-inline-block {
  display: inline-block;
}
// Positioning
.position-fixed {
  position: fixed;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.top-50-percent {
  top: 50%;
}
.right-50-percent {
  right: 50%;
}
.bottom-50-percent {
  bottom: 50%;
}
.left-50-percent {
  left: 50%;
}
.translate-center {
  transform: translate(-50%, -50%);
}

// Flex
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
// Margins

// Fonts
.body-font-family {
  font-family: var(--body-font-family);
}
.font-weight-normal {
  @include font-weight(normal);
}
.font-weight-medium {
  @include font-weight(medium);
}
.font-weight-bold {
  @include font-weight(bold);
}
.font-size-1-rem {
  font-size: 1rem;
}
.font-size-150-percent {
  font-size: 150%;
}
.font-size-125-percent {
  font-size: 125%;
}
.font-size-90-percent {
  font-size: 90%;
}
.font-size-75-percent {
  font-size: 75%;
}
.font-size-50-percent {
  font-size: 50%;
}
// Text Transforms
.uppercase {
  text-transform: uppercase;
}
.line-height-1 {
  line-height: 1;
}
.line-height-1-25 {
  line-height: 1.25;
}
.line-height-1-5 {
  line-height: 1.5;
}
// Colors
.color-primary {
  color: var(--primary-color) !important;
}
.color-white {
  color: $white !important;
}
.color-grey {
  color: $grey !important;
}
.color-light-grey {
  color: $light-grey !important;
}
.color-dark-grey {
  color: $dark-grey !important;
}
.color-yellow {
  color: $yellow;
}
.color-red {
  color: $red;
}
.color-green {
  color: $green;
}
.color-heading {
  color: var(--heading-color);
}
.color-text-medium {
  color: var(--text-medium-color);
}
.color-text-medium-dark {
  color: var(--text-medium-dark-color);
}

// Backgrounds
.background-color {
  background-color: var(--background-color);
}
.background-color-shade-1 {
  background-color: var(--background-color-shade-1);
}

// Sizing
.width-100 {
  width: 100%;
}
.max-width-100 {
  max-width: 100%;
}
.vh-100 {
  height: 100vh;
}
.vw-100 {
  width: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
// Misc
.rounded-corners {
  border-radius: $border-radius;
}
.white-space-nowrap {
  white-space: nowrap;
}
